Repository oregonpillow/game-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier

ruff:
  name: ruff lint
  language: system
  entry: uv run ruff check
  pass_filenames: true

ruff-format:
  name: ruff format
  language: system
  entry: uv run ruff format --check
  pass_filenames: true

prettier:
  name: prettier
  language: node
  additional_dependencies:
  - prettier@3.6.2
  entry: npx prettier --check --ignore-unknown --log-level warn
  pass_filenames: true

remove legacy
  README.md
  docker-compose.yml
Due: prettier

update readme
  .prettierignore
  README.md
  docker-compose.yml
  game_exporter/steam_exporter.py
Due: ruff, ruff-format, prettier

fix personastate not resetting
  game_exporter/steam_exporter.py
Due: ruff, ruff-format

fix playstation online status
  game_exporter/playstation_exporter.py
Due: ruff, ruff-format

fix attempt 2
  game_exporter/playstation_exporter.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
